body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

.container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.payment-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.option {
    flex-basis: 33.33%;
    margin: 10px;
    text-align: center;
}

.option img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}

.option h2 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.option p {
    font-size: 14px;
    color: #666;
    margin-bottom: 20px;
}

.btn {
    background-color: #337ab7;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #23527c;
}