<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home page</h1>
    <form action="/items" method="get">
        <button>Items</button>
    </form>
</body>
</html> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farmers App</title>
    <link rel="stylesheet" href="/Sources/home.css">
</head>
<body>
    <h1>Welcome to Farmers App</h1><br />
    <form action="/items" method="get">
        <button class="show-btn">Start</button>
    </form>
</body>
</html>