<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/Sources/login.css">
</head>
<body>
    <div class="container">
        <form action="/login" method="POST">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email"><br><br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password"><br><br>
            <input type="submit" action="/home" method="post">
        </form>
        <p>Don't have an account? <a href="/signup">Sign Up!</a></p>
    </div>
</body>
</html>